body {
  font-size: 24px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: sans-serif;
  padding: 20px;
}

p, pre {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
}

.code {
  font-family: monospace;
}

.number {
  border: 2px solid;
  padding: 4px;
  font-weight: bolder;
}

.hide {
  display: none;
}

.important {
  color:red;
}

.hintButton {
  color: #0066B3;
  cursor: pointer;
  font-weight: bolder;
  border-bottom: 2px dashed;
}

.bold {
  font-weight: bolder;
}

h1 {
  font-size: 1.1em;
  margin: 0;
}